<div class="ui fluid raised card chat-container">
  <!-- Messages Feed -->
  <div class="content messages-area" data-global-messages>
    <div class="ui feed">
      <h4 class="ui header">Global Chat</h4>

      <% @messages.each do |message| %>
        <%= render partial: "messages/message", locals: { message: message } %>
      <% end %>

    </div>
  </div>

  <!-- Message Form -->
  <div class="extra content chat-input-area">
    <% if logged_in? %>
      <%= form_with model: Message.new, url: messages_path, remote: true, html: { class: "ui form", data: { global_message_form: true } } do |f| %>
        <div class="field">
          <div class="ui action input full-width">
            <%= f.text_field :body, placeholder: "Message...", class: "prompt", data: { global_message_input: true } %>

            <button class="ui orange icon button">
              <i class="paper plane icon"></i>
            </button>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="ui message">
        <div class="header">Log in to send messages</div>
      </div>
    <% end %>
  </div>
</div>

